/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
__MACOSX/
*.zip
.temp-files/
cookie*.txt
cookies.txt
test*.php
*.log
__pycache__/
*.pyc
vite.config.js.timestamp*
